

.cart {
    background-color: #161516;
    color: #FFFFFF;
    font-family: 'Montserrat';
    
  
    
    
  
    
    &__list {
        height: calc(100vh - 90px - 173px);
        overflow-x: auto;
        &::-webkit-scrollbar {
            display: none;
          }
    }
   
  
}


