
.products-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 35px;
  column-gap: 9px;
  height: calc(100vh - 173px);
  overflow-x: auto;
  
  
  
  &::-webkit-scrollbar {
    display: none;
}

  

}



