.card {
    border: 1px solid #D58C51;
    align-items: center;
    width: 312px;
    &:hover{
        color: #D58C51;
    }

    &__preview {
        display: block;
        margin: 43px auto 30px auto;

    }

    &__decription {
        padding: 0px 30px 0px 21px;
        height: 126px;
        margin: 0px 0px 26px 0px;
    
    }

    &__description-title {
        font-weight: 500;
        font-size: 17px;
        line-height: 21px;
        margin: 0px 0px 9px 0px

    }
    &__description-text {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;

    }


    &__info {
        display: flex;
        justify-content:space-between;
        align-items: center;
        padding: 0px 30px 32px 21px;
    }
    &__info-btn {
        border-radius: 50%;
        background-color: transparent;
        border: 1px solid #fff;
        color: #fff;
        width: 30px;
        height: 30px;
        font-size: 25px;
        &:hover{
        background-color:#D58C51;
        border: none;
    }
}


.card-info {
    display: flex;
    align-items: flex-end;
    

    &__price {
        font-weight: 500;
        font-size: 17px;
        line-height: 21px;
        &::after {
            content: '\20BD';
        }
       
    }
    &__weight {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        margin: 0px 0px 0px 7px;
    }
    
    }
}
    
