.cart-item {
    border: none;
    align-items: center;
    display: flex;
    vertical-align: middle;
    justify-content: space-between;
    margin: 0px 0px 35px 0px;
    &__preview {
        display: block;
        
    }

    &__description-title {
        font-weight: 500;
        font-size: 17px;
        line-height: 21px;
        width: 310px;
        
     
    }

    &__price {
        font-weight: 500;
        font-size: 17px;
        line-height: 21px;
        margin: 0px 15px 0px 0px;
        color:#D58C51;
        &::after {
            content: '\20BD';
        }
    }
    &__remove {
        border-radius: 50%;
        background-color: transparent;
        border: 1px solid #D58C51;
        color: #D58C51;
        width: 30px;
        height: 30px;
        font-size: 25px;
        transform: rotate(45deg);
    }
    &__incrDec {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__dec {
        background-color: transparent;
        border:none;
        color: #fff;
        font-size: 25px;
        margin: 0px 15px 0px 0px;


    }
    &__incr {
        background-color: transparent;
        border:none;
        color: #fff;
        font-size: 25px;
        margin: 0px 0px 0px 15px;
    }
  
    
    }



    