.cart-item {
    border: none;
    align-items: center;
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    margin: 0px 0px 35px 0px;
    cursor: pointer;
    @media screen and (max-width: 1180px) {
    justify-content: space-around;}
    @media screen and (max-width: 767px) {
        flex-wrap: wrap;
        row-gap: 50px;
        column-gap: 10px;
        margin: 0px 0px 50px 0px;
    }
    &__preview {
        display: block;
        width: 30%;
        @media screen and (max-width: 767px) {
            width: 50%;}
        }

    &__description-title {
        font-weight: 500;
        font-size: 17px;
        line-height: 21px;
        width: 30%;
        @media screen and (max-width: 767px) {
            width: 100%;
        text-align: center;}      
    }

    &__price {
        font-weight: 500;
        font-size: 17px;
        line-height: 21px;
        margin: 0px 15px 0px 0px;
        color:#D58C51;
        &::after {
            content: '\20BD';
        }
    }
    &__remove {
        border-radius: 50%;
        background-color: transparent;
        border: 1px solid #D58C51;
        color: #D58C51;
        width: 32px;
        height: 32px;
        font-size: 20px;
        padding: 50%, 50%;
        transform: rotate(45deg);
        @media screen and (max-width: 767px) {
            width: 25px;
            height: 25px;
            font-size: 18px;
        }
    }
    &__incrDec {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__dec {
        background-color: transparent;
        border:none;
        color: #fff;
        font-size: 25px;
        margin: 0px 15px 0px 0px;


    }
    &__incr {
        background-color: transparent;
        border:none;
        color: #fff;
        font-size: 25px;
        margin: 0px 0px 0px 15px;
    }
  
    
    }



    