.footer {
    height: 90px;
    
    &__text {
        font-size: 15px;
        font-weight: 400;
        line-height: 20px;
        color: rgb(128, 35, 124);
        display: flex;
        justify-content: right;
        
    }

}