@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900');


.container {
    width: 1000px;
    margin: 0px auto;
  }

.basket {
    background-color: #161516;
    color: #FFFFFF;
    font-family: 'Montserrat';
}
.basket__title {
    font-weight: 700;
    font-size: 31px;
    line-height: 38px;
    text-transform: uppercase;
    text-align: center;
    padding: 52px 0px 38px 0px;
}

.card {
    border: none;
    display: flex;
    align-items: center;
    margin: 0px 0px 35px 0px;

}
.card:hover {
    display: none;
}
.card:last-child {
    margin: 0px 0px 100px 0px;
}
.card__preview {
    margin: 0px 88px 0px 0px;
}
.card__title {
    width: 310px;
    margin: 0px 216px 0px 0px;
}
.order-card__price {
    margin: 0px 20px 0px 0px;
    color: #D58C51;

}

.order-card__btn {
    display: none;
}

.basket__footer {
    border-top: 1px solid #D58C51;
    
}
.basket__footer-content {
    padding: 20px 0px 27px 0px;
    display: flex;
    justify-content: space-between;
}
.total {
    display: flex;
}
.total__title {
    font-weight: 400;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
    margin: 0px 16px 0px 0px;
}
.total__sum {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #D58C51;
}
.basket__footer-btn {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #131313;
    background: #D58C51;
    height: 42px;
    width: 200px;
}








