.orange-rect-button {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #131313;
    background: #D58C51;
    height: 42px;
    width: 200px;
    cursor: pointer;
    @media screen and (max-width: 320px) {
        width: 80%;}

}



.back-arrow-btn {

    background: transparent;
    border: 1px solid #d58c51;
    border-radius: 50%;
    height: 31px;
    width: 31px;
    position: absolute;
    top: 57px;
    left: 50px;
    color: #d58c51;
    cursor: pointer;
    @media screen and (max-width: 1180px){
        left: 2px;
        height: 25px;
        width: 25px;
    }
}
