.transp-rect-button {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #D58C51;
    background: transparent;
    height: 42px;
    width: 200px;
    border: 1px solid #D58C51;
    cursor: pointer;
    @media screen and (max-width: 400px){
        align-items: center;
       
        }
    }

